[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
requests = "*"
jsonpath-ng = "*"
python-dotenv = "*"
environment = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.9"
